# EditorConfig helps maintain consistent coding styles
# For more information, visit: https://editorconfig.org
root = true

# Markdown files
[*.md]
trim_trailing_whitespace = true
end_of_line = lf
insert_final_newline = true
max_line_length = 100

# Shell scripts
[*.sh]
indent_style = space
indent_size = 4
end_of_line = lf
insert_final_newline = true
trim_trailing_whitespace = true
charset = utf-8

# Podman Quadlet files (INI format)
[*.container]
indent_style = space
indent_size = 0
end_of_line = lf
insert_final_newline = true
trim_trailing_whitespace = true
charset = utf-8

# JSON files
[*.json]
indent_style = space
indent_size = 2
end_of_line = lf
insert_final_newline = true
trim_trailing_whitespace = true
charset = utf-8

# Environment files
[*.env*]
end_of_line = lf
insert_final_newline = true
trim_trailing_whitespace = true
charset = utf-8

# YAML files
[*.yml,*.yaml]
indent_style = space
indent_size = 2
end_of_line = lf
insert_final_newline = true
trim_trailing_whitespace = true
charset = utf-8

# Text files
[*.txt]
end_of_line = lf
insert_final_newline = true
trim_trailing_whitespace = true
charset = utf-8
