# --- HOME MEDIA SERVER CONFIGURATION TEMPLATE ---
# Rename this file to 'variables.env' and fill in your details.

# [Network]
SERVER_NAME="my-media-server"   #Name of the Ubuntu Server
SERVER_IP="192.x.x.x"            #Internal static IP address of the Server
SERVER_USER="your-username"

# [System]
TIMEZONE="Asia/Kolkata"     # Set the Time Zone in this file to setup across all pods
DISABLE_SSH_PASSWORDS=false # Set to true ONLY after testing SSH key login

# [Storage Paths]
# The main drive/folder where movies/shows are stored
SERVER_MEDIA_DIR="/mnt/media"

# The Download directory in the Server for Torrent File Downloads
SERVER_DOWNLOAD_DIR="/mnt/media/download"

# Where podman container data (databases/configs) will live
SERVER_PODMAN_CONFIG_DIR="/opt/podman_configs"

# [Application Ports]
DELUGE_PORT=8112
JELLYFIN_PORT=8096

# [Podman Customizations]
# Add custom registries here (space separated)
CUSTOM_PODMAN_REGISTRIES="docker.io ghrc.io lscr.io quay.io"